.body {
    width: 100%;
    flex-direction: column;
    display: flex;
}

.container {
    width: 100%;
    margin: 10px;
    padding: 5px;
}

.title {
    font: 500;
    font-size: 72px;
    font-family: American Typewriter, serif;
    text-align: center;
    margin-top: 2%;
}

.subtitle {
    font: 100;
    font-size: 36px;
    font-family: American Typewriter, serif;
    text-align: center;
    margin-top: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 25px;
}

.button1 {
    margin: auto 15px;
    display: flex;
    align-items: center;
    background-color: white;
    color: #48BF91;
    font-size: 14px;
    border: 1px solid #48BF91;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
    height: 30px;
  }
  
  .button1:hover {
    cursor: pointer;
  }

  .button2 {
    margin: auto 15px;
    display: flex;
    align-items: center;
    background-color: #48BF91;
    color: white;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
    height: 30px;
  }
  
  .button2:hover {
    cursor: pointer;
  }

  .button2:disabled {
    cursor: auto;
    opacity: 0.5;
  }