.body {
  width: 100%;
  flex-direction: column;
  display: flex;
}

.container {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
}

.title {
  font: 500;
  font-size: 72px;
  font-family: American Typewriter, serif;
  text-align: center;
  margin-top: 2%;
}

.subtitle {
  font: 100;
  font-size: 36px;
  font-family: American Typewriter, serif;
  text-align: center;
  margin-top: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.walletBtn {
  margin: auto 15px;
  display: flex;
  align-items: center;
  background-color: white;
  color: #48bf91;
  font-size: 14px;
  border: 1px solid #48bf91;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  height: 30px;
}

.walletBtn:hover {
  cursor: pointer;
}

.walletBtn:disabled {
  cursor: auto;
  opacity: 0.5;
}
