.header {
    background-color: #48BF91;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;;
}

.textButton {
    color:white;
    border: none;
    background: none;
    font-size: 16px;
}

.connectWalletButton {
    color: white;
    background: #48BF91;
    border: white;
    border-radius: 25px;
    padding: 5px;
}

.halfContainer {
    display: inline-block;
    width: 50%;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}